@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$primary: #82cefd;
$secondary: #ffdc60;
$transition: all .2s linear;

body {
    font-family: 'DM Sans', sans-serif !important;
}

.header-sticky {
    right: 0;
    left: 0;
    z-index: 21;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
    padding: 0px 35px;
    height: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .logo {
        a {
            letter-spacing: 3px;
        }
    }

    .list-unstyled {
        li {
            border-bottom: 2px solid transparent;
            transition: $transition;
            opacity: 75%;
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: 600;

            &:hover {
                opacity: 100%;
                border-bottom: 2px solid $primary;

            }
        }
    }

    .header-button {
        box-shadow: 0px 2px 55px rgba(168, 182, 218, 0.32);
        font-size: 15px;

        &:hover {
            background-color: $primary;
            color: #fff;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.navbar-mobile {
    position: fixed;
    z-index: 21;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .mobile-menu-button {
        width: 57px;
        height: 57px;
        box-shadow: 0px -2px 12px #EBE9F3;
    }
}

.mobile-menu {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    transition: $transition;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    .mobile-menu-links {
        .list-unstyled {
            li {
                border-bottom: #515151 1px solid;

                a {
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .mobile-menu-contact {
        h3 {
            font-size: 16px;
            letter-spacing: 1.5px;
        }
    }
}

//HEADER

//HERO

.hero {
    overflow: hidden;
    position: relative;
    padding-top: 330px;
    padding-bottom: 150px;
    background-color: #f7f8fd !important;
    border-bottom: 1px #eeeeee solid;

    @media screen and (max-width:992px) {
        padding-top: 125px;
    }

    .social {
        position: absolute;
        left: -11%;
        transform: rotate(90deg);
        margin-top: 175px;

        div {

            a {
                font-size: 14px;
                letter-spacing: 2px;
                transition: $transition;
            }

            &:hover {
                &:nth-child(1) {
                    a {
                        color: #3b5998 !important;
                    }
                }

                &:nth-child(2) {
                    a {
                        color: #c4302b !important;
                    }
                }

                &:nth-child(3) {
                    a {
                        color: #00acee !important;
                    }
                }
            }
        }

    }

    .hero-shape {
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .hero-image {
        position: absolute;
        top: -150px;
        z-index: 5;

        @media screen and (max-width:992px) {
            position: relative;
        }
    }

    .hero-box {
        z-index: 20;

        p {
            opacity: 75%;
            font-weight: 500;
            font-size: 18px;
            text-align: justify;

            @media screen and (max-width:992px) {
                font-size: 16px;
            }
        }

        .hero-button {
            box-shadow: 0px 2px 55px rgba(168, 182, 218, 0.32);
            font-weight: 600;
            letter-spacing: 1px;

            &:hover {
                background-color: $secondary;
                border-color: $secondary;
                color: #000 !important;
            }
        }
    }
}

//HERO

//BRAND SHOWCASE

.brands {
    .brand-item {
        transition: $transition;

        &:hover {
            opacity: .75;
            transform: scale(1.05);
        }
    }
}

//BRAND SHOWCASE

// WHY CHOOSE US

.why-choose-us {
    .header {
        .title {
            h1 {
                font-size: 20px !important;
            }
        }
    }

    .content {
        .card {
            border: none;
            border-radius: 8px;

            .card-title {
                h3 {
                    transition: $transition;
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 75px;
                height: 75px;
                background-color: #FD346E;
            }

            .card-content {
                border: transparent 1px solid;
                transition: $transition;
                height: 100%;
            }

            &:nth-child(2) {
                box-shadow: 0px 26px 50px rgba(206, 210, 225, 0.24);

                .card-content {
                    border: #eeeeee 1px solid;
                    border-radius: 8px;
                }

                .icon {
                    background-color: #82CEFD;
                }
            }

            &:nth-child(3) {
                .icon {
                    background-color: #5956E9;
                }
            }

            &:hover {
                box-shadow: 0px 26px 50px rgba(206, 210, 225, 0.24);

                .card-content {
                    border: #eeeeee 1px solid;
                    border-radius: 8px;

                    .bounce {
                        animation: bounce 2s ease;
                    }

                    @keyframes bounce {
                        10% {
                            transform: translateY(0%);
                        }

                        50% {
                            transform: translateY(-15%);
                        }

                        100% {
                            transform: translateY(0%);
                        }
                    }

                    .card-title {
                        h3 {
                            color: #FD346E;
                        }
                    }
                }

                &:nth-child(2) {
                    .card-content {
                        border: #eeeeee 1px solid;
                        border-radius: 8px;

                        .card-title {
                            h3 {
                                color: #82CEFD;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .card-content {
                        border: #eeeeee 1px solid;
                        border-radius: 8px;

                        .card-title {
                            h3 {
                                color: #5956E9;
                            }
                        }
                    }
                }
            }
        }
    }
}

// WHY CHOOSE US

//INDUSTRIES

.industries {
    padding-top: 110px;
    padding-bottom: 120px;
    border-radius: 20px;
    background-color: #F7F8FD;

    @media screen and (max-width:992px) {
        padding-top: 70px;
        border-radius: 0;
    }

    .content {
        padding-left: 90px;
        padding-right: 90px;

        @media screen and (max-width:992px) {
            padding-left: 30px;
            padding-right: 30px;
        }

        .industries-item {
            cursor: pointer;
            border-radius: 10px;
            padding: 25px 35px;
            transition: $transition;
            box-shadow: 0px 13px 12px rgba(181, 184, 200, 0.03);
            border: transparent 1px solid;

            p {
                user-select: none;
            }

            @media screen and (max-width:992px) {
                width: 100%;
                margin: 8px !important;

                p {
                    font-size: 15px !important;
                }
            }

            &:hover {
                .bounce {
                    animation: bounce 2s ease;
                }

                @keyframes bounce {
                    10% {
                        transform: translateY(0%);
                    }

                    50% {
                        transform: translateY(-15%);
                    }

                    100% {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }

}

//INDUSTRIES

//ABOUT

.about {
    background-color: #F7F8FD;
    padding-bottom: 120px;
    padding-top: 120px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width:992px) {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .about-shape {
        position: absolute;
        top: 0;
        z-index: 2;
    }

    .about-image {
        z-index: 3;

        img {
            object-fit: contain;
        }
    }

    .about-detail {
        .personal-data {
            border-right: transparent 8px solid;
            border-radius: 20px;
            margin-bottom: 20px;
            overflow: hidden;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: $transition;

            &:hover {
                border-right: #00acee 8px solid;
            }
        }

        .about-content {
            z-index: 5;

            .title {
                h1 {
                    font-size: 20px !important;
                }
            }

            .about-button {
                box-shadow: 0px 2px 55px rgba(168, 182, 218, 0.32);
                font-weight: 600;
                letter-spacing: 1px;
                transition: $transition;
                background-color: $primary;

                &:hover {
                    background-color: $secondary;
                    border-color: $secondary;
                    color: #000 !important;
                }
            }
        }
    }
}

//ABOUT

//PROJECTS

.projects {
    overflow: hidden;

    .header {
        .title {
            h1 {
                font-size: 20px !important;
            }
        }
    }

    .content {
        .project-image {
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            .content {
                position: absolute;
                display: none;
                z-index: 999;
                transition: $transition;
            }

            &:hover {
                img {
                    filter: brightness(50%);
                    transform: scale(1.05);
                }

                .content {
                    display: flex;
                    align-items: center;
                }

            }

            img {
                width: 100%;
                transition: $transition;


            }
        }
    }

}

//PROJECTS

//FOOTER

.footer {
    padding-top: 120px;
    background-color: #292930;
    color: rgba(255, 255, 255, 0.8);

    h1 {
        color: #fff;
    }

    .contact-button {

        a {
            box-shadow: 0px 2px 55px rgba(168, 182, 218, 0.32);
            font-weight: 600;
            letter-spacing: 1px;
            transition: $transition;
            background-color: $primary;

            &:hover {
                background-color: $secondary;
                border-color: $secondary;
                color: #000 !important;
            }
        }
    }

    .copyright {
        letter-spacing: 1px;
        border-bottom: #4e4e4e 1px solid;
    }

    .social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        border: #4e4e4e 1px solid;
        border-radius: 100%;
        padding: 5px;
        width: 50px;
        height: 50px;
    }
}

//FOOTER

.scroll-top-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: #5956E9 !important;
    border-radius: 8px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}